@media (width <= 1025px) {
  .btn {
    margin-left: 240px;
  }
}

@media (width <= 940px) {
  .btn {
    margin-left: 200px;
  }
}

@media (width <= 900px) {
  .btn {
    margin-left: 160px;
  }
  .img {
    height: 206px;
  }
}

@media (width <= 825px) {
  .img {
    height: 186px;
  }
}

@media (width <= 790px) {
  /* .btn-main {
    background-color: red;
    justify-content: center;
  } */
  .btn {
    margin-left: 120px;
  }
}

@media (width <= 767px) {
  .content {
    margin-top: 15px;
  }
  .img-main {
    width: 75%;
    margin-bottom: 15px;
  }
  .img {
    height: 300px;
  }
  .btn-main {
    justify-content: center;
  }
  .btn {
    margin-left: 0px;
  }
}

@media (width <= 525px) {
  .img-main {
    width: 100%;
  }
}

@media (width <= 400px) {
  .img {
    height: 250px;
  }
  .btn {
    margin-left: 30px;
  }
}

@media (width <= 350px) {
  .img {
    height: 200px;
  }
}
