@media (width <= 1082px) {
  .btn {
    margin-left: 170px;
  }
}

@media (width <= 1022px) {
  .btn-main {
    width: "100%";
    justify-content: center;
  }
}

@media (width <= 900px) {
  .imgn {
    height: "100%";
  }
}

@media (width <= 767px) {
  .contentn {
    margin-top: 15px;
    justify-content: center;
    margin-left: 0;
  }
  .img-mainn {
    width: "100%";
    margin-bottom: 50px;
    margin-right: 0;
  }
  /* .img {
    height: 300px;
  } */
  /* .btn-main {
    justify-content: center;
  } */
  /* .btn {
    margin-left: 0px;
  } */
}

@media (width <= 525px) {
  .img-main {
    width: 100%;
  }
}

@media (width <= 400px) {
  /* .img {
    height: 250px;
  } */
  /* .btn {
    margin-left: 30px;
  } */
}

@media (width <= 350px) {
  /* .img {
    height: 200px;
  } */
}
