/* Overall Layout */
.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden; /* Prevent overflow issues */
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   */
  z-index: 1;
}

/* Logo */
.navbar .logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
}

/* Navbar Links */
.navbar .nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar .nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #f0a500;
}

/* Navbar Button */
.btn-play-nav {
  padding: 0.6rem 1rem;
  background-color: #f0a500;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-play-nav:hover {
  background-color: #f0a4006a;
}

/* Image Container */
.image-container {
  margin-top: 2rem; /* Space for the fixed navbar */
  padding: 20px; /* Padding around the image */
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing-image {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    gap: 0.1rem;
  }

  .nav-links a,
  .btn-play-nav {
    /* text-align: left; */
    width: 100%;
    /* padding: 0.8rem 1rem; */
    font-size: 0.9rem;
  }

  .logo-image {
    height: 25px;
    width: 50px;
  }
}
