.popup {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.successPopup {
  border-radius: 25px;
  /* flex-direction: column; */
}
.successTitle {
  font-weight: 400;
}
.score {
  border-radius: 30px;
}
