.title {
  font-weight: 400;
}
.progress-one {
  border-radius: 35px;
}
.progress-two {
  border-radius: 35px;
}
.progress-trophy {
  border-radius: 35px;
}

@media (width <= 655px) {
  .buttons {
    margin-top: 40px;
  }
}

@media (width <= 620px) {
  .buttons {
    margin-top: 40px;
  }
}
