.title {
  font-weight: 400;
}
.title-sub {
  font-weight: 400;
}
.button-txt {
  font-weight: 400;
}
.popup {
  border-radius: 60px;
}
.alphabet {
  font-weight: 700;
}

@media (width <= 1115px) {
  .img {
    width: 90%;
  }
  .alphabet {
    font-size: 60px;
  }
  .button-txt {
    font-size: 30px;
  }
  .buttons {
    padding-left: 20px;
  }
}

@media (width <= 1082px) {
  .btn {
    margin-left: 0px;
  }
  .img {
    height: 100%;
  }
}

@media (width <= 900px) {

}

